html, body, #root {
  width: 100%;
  height: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  overflow: auto;
  background-color: rgb(247, 237, 225);
}
.canvas {
  margin-top: 2.5%;
  position: relative; 
  overflow: auto;
}


.btn {
  margin: 5% 0.5% 0.5% 0.5%;
}
.form{
  padding: 0 0.5% 0 0.5%;
  width: 30%;
}

.btnLabel {
  display: flex; 
}

.hdr {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 8vh;
  color: black;
}
.img-hdr {
  display: block; 
  border-width: 2%;
  border-style: solid;
}
.navComp {
  width:100%;
  height: auto; 
  overflow: visible;
}


@media only screen and (min-width: 992px){
  .img-hdr{
     width: 25%;
     height: auto;
  }
} 

@media only screen and (max-width: 992px) and (min-width: 769px){
   .img-hdr{
      width: 20%;
      height: auto;
   }
} 
/* For lg and xl */
@media only screen and (max-width: 769px) and (min-width: 481px){
    .img-hdr{
      width: 30%;
      height: auto; 
    }
}
@media only screen and (max-width: 480px){
  .img-hdr{
    max-width: 90%;
    max-height: 200px;
  }
}



